docker.runOptions = '--platform linux/amd64'


params {

    genome= "GATK.GRCh38"
    save_reference = true

    }

process {
  // match by process name using regex (works across Sarek versions)

  resourceLimits = [
        cpus: 6,
        memory: '7GB',
        time: '4.h'
    ]

  withName: /FASTP/                { cpus = 6; memory = '7 GB' }
  withName: /BWA|BWA_MEM.*/        { cpus = 6; memory = '7 GB' }
  withName: /MARKDUPLICATES/       { cpus = 6; memory = '7 GB' }
  withName: /BQSR|BASE.*RECAL.*/   { cpus = 6; memory = '7 GB' }
  withName: /HAPLOTYPECALLER/      { cpus = 6; memory = '7 GB' }
  withName: /MERGEGVCFS/           { cpus = 6; memory = '7 GB' }
  withName: /GENOTYPEGVCFS/        { cpus = 6; memory = '7 GB' }

  withName: /BWAMEM1_INDEX/        { cpus = 6; memory = '7 GB' }
  withName: /BWAMEM2_MEM/        { cpus = 6; memory = '7 GB' }

  withName: /BWAMEM1_MEM$/              { cpus = 6; memory = '7 GB' }
  withName: /BWA_MEM2.*/                { cpus = 6; memory = '7 GB' }
  withName: /DRAGMAP.*/                 { cpus = 6; memory = '7 GB' }
  withName: /GATK4_MARKDUPLICATES/    {cpus = 6; memory = '7 GB'}
  withName: /GATK4_HAPLOTYPECALLER/   {cpus = 6; memory = '7 GB'}
  withName: /GATK4_.*/   {cpus = 6; memory = '7 GB'}
  withName: /MERGE_.*/   {cpus = 6; memory = '7 GB'}
  withName: /VARIANTRECALIBRATOR_.*/   {cpus = 6; memory = '7 GB'}
  withName: /BCFTOOLS_SORT/   {cpus = 6; memory = '7 GB'}
  withName: /INDEX_MERGE_BAM/   {cpus = 6; memory = '7 GB'}
  withName: /MULTIQC/   {cpus = 6; memory = '7 GB'}

}

